

<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="../../../../../assets/GREENTECH.png" style="width:30%">
                        <h2 class="py-3">Creation de Compte</h2>
                        <p>bla bla bla bla bla bla bla </p>
                    </div>
                </div>
                <a routerLink="/Seconnecte" class="btn-link btn-outline-success">vous avez déja un conmpte ?</a>
            </div>
            <div class="col-md-8 py-5 border">
                <h4 class="pb-4">Entrez vos informations</h4>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <input name="nom" [(ngModel)]='nom' [ngModelOptions]="{standalone: true}"placeholder="Nom" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input name="prenom" [(ngModel)]='prenom' [ngModelOptions]="{standalone: true}"placeholder="Prénom" class="form-control" type="text">
                          </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                    
                            <input name="organisme" [(ngModel)]='organisme' [ngModelOptions]="{standalone: true}"placeholder="Organisme" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" [(ngModel)]='email'[ngModelOptions]="{standalone: true}"class="form-control" id="inputEmail4" placeholder="Email">
                         </div>
                         <div class="form-group col-md-6">
                            <input name="numTlef" [(ngModel)]='numTlef'[ngModelOptions]="{standalone: true}" placeholder="Numéro de Teléphone " class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input  name="nss" [(ngModel)]='nss'[ngModelOptions]="{standalone: true}" placeholder="Numéro de Sécurité social " class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input name="pass" [(ngModel)]='pass'[ngModelOptions]="{standalone: true}" placeholder="Mot de passe " class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input  name="confpass" [(ngModel)]='confpass' [ngModelOptions]="{standalone: true}"placeholder="Confirme Mot de passe " class="form-control" required="required" type="text">
                        </div>
                        
                       
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                  <label class="form-check-label" for="invalidCheck2">
                                    <small>J'accepte les conditons et les règulements</small>
                                  </label>
                                </div>
                              </div>
                    
                          </div>
                    </div>
                    
                    <div class="form-row">
                            <button type="button" (click)='SignUp()' class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Créer
                                  </button>
                                  
                                  <!-- Modal -->
                                  <div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Inscription GreenTech</h5>
                                          <button type="button" (click)='navigate()' class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                                votre compte sera activé dés que possible
                                        </div>
                                        <div class="modal-footer">
                                          <button (click)='navigate()' type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
 
 