<div class="container_fluid">
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
              <div style="text-align:center;">
                  <h2 class="mb-0">
                    
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <h5 class="h55"> Information et regulement de demande <img src="../../../assets//information.png" alt=""></h5>
                    </button>
                  </h2>
              </div>
          </div>
      
          <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
              <div style="text-align:center;">
                  <h2 class="mb-0">
                    <button class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h5 class="h55">Demande en attente <img src="../../../assets/sent.png" alt=""></h5>
                    </button>
                  </h2>
              </div>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                   <div class="container">
                      <div class="row">
                           <div class="col-lg-4" *ngFor="let item of tab">
                              <div class="card cardDemande text-center">
                                  <div class="card-header">
                                    Demande N: {{item}}
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">Ressource Génétique</h5>
                                    <p class="card-text">demande de l'utilasation de la ressource génétique de type marin et de catégorie ...</p>
                                    <a href="#" class="mt-auto btn btn-outline-success ">Annuler la demande</a>
                                  </div>
                                  <div class="card-footer text-muted">
                                    Il ya une semaine
                                  </div>
                                </div>
                           </div>
                      </div>
                   </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
              <div style="text-align:center;">
                  <h2 class="mb-0">
                    <button class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h5 class="h55">Demande non envoyés <img src="../../../assets/warning.png" alt=""></h5>
                    </button>
                  </h2>
              </div>  
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                         <div class="col-lg-4" *ngFor="let item of tab">
                            <div class="card cardDemande text-center">
                                <div class="card-header">
                                  Demande N: {{item}}
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Ressource Génétique</h5>
                                  <p class="card-text">demande de l'utilasation de la ressource génétique de type marin et de catégorie ...</p>
                                  <a href="#" class="mt-auto btn btn-outline-success ">Supprimer la demande</a>
                                </div>
                                <div class="card-footer text-muted">
                                  Il ya une semaine
                                </div>
                              </div>
                         </div>
                    </div>
                 </div>
            </div>
          </div>
        </div>
      </div>











</div>
