<div class="container_fluid" >

  <div class="card mb-3" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../assets/CRSTRA.jpeg" class="card-img" style="max-width: 250px;"alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 id="intitule" class="card-title">Centre de recherche scientifique et technique sur les régions arides <strong>(CRSTRA)</strong></h5>
              <p class="card-text" id="description">Le Centre de Recherche Scientifique et Technique sur les Régions Arides ''Omar EL-BERNAOUI'' (C.R.S.T.R.A.) est un Etablissement Public à caractère Scientifique et Technique (E.P.S.T.). Créé par décret N° 91-478 du 14 Décembre 1991, modifié et complété par le décret N°03-458 du 01 Décembre 2003 et régi par le décret exécutif n° 11-396 du 24 Novembre 2011 fixant le statut-type de l’établissement public à caractère scientifique et technologique. Ce centre qui est doté de la personnalité morale et de l'autonomie financière, est placé sous la tutelle du Ministère de l'Enseignement Supérieur et de la Recherche Scientifique.
                  Le CRSTRA est chargé de développer des recherches scientifiques et techniques et de tenir une veille écologique à travers l’observation continue et la constitution d’une base de données scientifique et technique au niveau des territoires arides et semi arides (les régions sahariennes et steppiques) qui couvrent plus de 2 millions de Km2soit plus de85%du territoire national.</p>
              
            </div>
          </div>
        </div>
      </div>

      <h5 id="activite" class="card-title" >NOS ACTIVITES</h5>

      <div class="card-group"  >
          <div class="card">
            <img src="../assets/cat01.jpg"class="card-img-top"  style="max-height: 150px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Diagnostic des pratiques</h5>
              <p class="card-text">Le but de notre étude est de diagnostiquer la situation de l’agrosystème phœnicicole dans la région d’Ouargla, pour connaitre les différents facteurs qui favorisent la dégradation de ce patrimoine.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="../assets/cat02.jpg" class="card-img-top" style="max-height: 150px;"alt="...">
            <div class="card-body">
              <h5 class="card-title">Pinus halepensis Mill</h5>
              <p class="card-text">Le présent travail consiste à rechercher la relation éco dendrométriques de Pinus halepensis dans le canton Djebel Guezzoul relevant de la forêt communale de Tiaret.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="../assets/cat03.jpg" class="card-img-top" style="max-height: 150px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Activités agricoles</h5>
              <p class="card-text">La région d’étude de l’Oued Righ, située au nord-est du Sahara algérien, se caractérise par une activité agricole importante et offre des possibilités de développement certaines à l’échelle locale.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>

        <div id="contact" class="card mb-3" >
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../assets/map.png" class="card-img" id="mapimg" style="max-width: 120px;"alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 id="adress" class="card-title">Centre de Recherche Scientifique et Technique sur les Régions Arides C.R.S.T.R.A
                      Compus Universitaire Universite Mohamed Khider, Biskra</h5>
                      
                      <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                            <ul class="list-unstyled list-inline social text-center">
                              <li class="list-inline-item"><a href=""><i class="fa fa-phone"></i></a></li>
                              <li class="list-inline-item"><a href=""><i class="fa fa-envelope-o"></i></a></li>
                              <li class="list-inline-item"><a href="http://www.crstra.dz"><i class="fa fa-globe"></i></a></li>
                            
                            </ul>
                          </div>
                          
                        </div>	
                        
                  
                  
                </div>
              </div>
            </div>
          </div>
    
    </div>