<ng-container *ngIf="role=='utilisateur'; else elseTemplate">

  <div class="container_fluid">
    <br>

    <div class="container">
      <div class="row">
        <div class="col-2" style="margin-top: 8%">
          <div class="form-group ">
            <label>AFFICHER :</label>
            <select id="inputState4" [(ngModel)]="Nbresult" (ngModelChange)="Select('Nbresult')"
              class="form-controlSelection form-control">
              <option value="1">
                <p class="Pselection">1 Ressource</p>
              </option>
              <option value="2">
                <p class="Pselection">2 Ressources</p>
              </option>
              <option value="3" selected>
                <p class="Pselection">3 Ressources</p>
              </option>
              <option value="4">
                <p class="Pselection">4 Ressources</p>
              </option>
              <option value="5">
                <p class="Pselection">5 Ressources</p>
              </option>
              <option value="10">
                <p class="Pselection">10 Ressources</p>
              </option>
            </select>
          </div>
          <hr>
          <!-- Card Start -->
          <div class="form-group ">
            <label>TYPE :</label>
            <select id="inputState5" [(ngModel)]="TypeTwo" (ngModelChange)="Select('TypeTwo')"
              class="form-controlSelection form-control">
              <option [value]="TypeTwo" selected>{{TypeTwo}}</option>
              <option *ngFor="let res of SaveDocument" [value]="res.typeRESSOURCE">{{res.typeRESSOURCE}}</option>
            </select>
          </div>

          <div class="form-group ">
            <label>CATEGORIE :</label>
            <select id="inputState6" [(ngModel)]="CategorieTwo" (ngModelChange)="Select('CategorieTwo')"
              class="form-controlSelection form-control">
              <option [value]="CategorieTwo" selected>{{CategorieTwo}}</option>
              <option *ngFor="let res of SaveDocument" [value]="res.categorieRESSOURCE">{{res.categorieRESSOURCE}}</option>
            </select>
          </div>

          <button type="button" (click)="Filter()" class="btn btnSerch" style="width: 100%"><i
              class="fa fa-filter"></i><B> FILTRER</B></button>

        </div>
        <div class="col-10 ">
          <form class="form-inline" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <input class="form-control form-control-modified" name="inputRech" required ngModel type="Text"
              placeholder="Recherche par Tag" aria-label="Search">
            <button type="submit" class="btn btnSerch" style="margin-left: 1%" data-toggle="tooltip"
              data-placement="bottom" title="Rechercher une ressource"><i class="fa fa-search"></i><b>
                RECHERCHE</b></button>
          </form>
          <div class="container">
            <div class="row col-12 align-items-center justify-content-center">
                <ng-container *ngIf="role=='editeur'; else elseTemplate">
                    <button type="button" class="btn btnSerch" data-toggle="modal" data-target="#ajouterRessourceModal"
                    data-placement="bottom" title="Ajouter une ressource"><i class="fa fa-plus-circle"></i><b> AJOUTER
                      UNE NOUVELLE RESSOURCE</b></button>
                  </ng-container>
                  <ng-template #elseTemplate>
                    
                  </ng-template>  
              


              <div class="form-group nbresult" style="margin-top: 14px;font-size: 18px;float: right;">
                <span class="font-weight-bold"> NOMBRE DE RESSOURCES : </span>
                <span class="font-weight-bold" id="nbRegle">{{nbDocument}}</span>
              </div>
            </div>
            <hr>
          </div>
          <div *ngIf="isVisible" class="col-11 alert alert-danger"
            style="text-align: center;margin-left: auto;margin-right: auto" role="alert">
            Désolé, aucun résultat trouvé !
          </div>
          <div class="col-12" *ngFor="let rsr of ressources | paginate: { itemsPerPage: Nbresult , currentPage: p }">
            <app-ressource-details [ressource]=rsr></app-ressource-details>
            <hr>
          </div>
          <div style="text-align:center">.
            <pagination-controls (pageChange)="p = $event" directionLinks="true" maxSize="2" responsive="true"
              previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal fade" id="ajouterRessourceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter une nouvelle ressource :</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="ressourceNomDocument">Nom</label>
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-dot-circle-o"></i></div>
                <input type="text" name="ressourceNomDocument" [(ngModel)]="ressourceNomDocument" class="form-control"
                  id="ressourceNomDocument" placeholder="Entrez le nom de la ressource">
              </div>
            </div>
            <div class="form-group">
              <label for="ressourceDescriptionDocument">Description</label>
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-file-text-o"></i></div>
                <textarea type="text" name="ressourceDescriptionDocument" [(ngModel)]="ressourceDescriptionDocument"
                  class="form-control" id="ressourceDescriptionDocument"
                  placeholder="Entrez la description de la ressource"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="ressourceDescriptionDocument">Type</label>
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-dot-circle-o"></i></div>
                <input type="text" name="ressourceTypeDocument" [(ngModel)]="ressourceTypeDocument" class="form-control"
                  id="ressourceTypeDocument" placeholder="Entrez le type de la ressource">
              </div>
            </div>
            <div class="form-group">
              <label for="ressourceDescriptionDocument">Catégorie</label>
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-dot-circle-o"></i></div>
                <input type="text" name="ressourceCategorieDocument" [(ngModel)]="ressourceCategorieDocument" class="form-control"
                  id="ressourceCategorieDocument" placeholder="Entrez la catégorie de la ressource">
              </div>
            </div>
            <div class="form-group">
              <label for="ressourceDescriptionDocument">Tag</label>
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-tag"></i></div>
                <input type="text" name="ressourceTagDocument" [(ngModel)]="ressourceTagDocument" class="form-control"
                  id="ressourceTagDocument" placeholder="Entrez les TAGs de la ressource | example : TAG1,TAG2...">
              </div>
            </div>
            <div class="form-group">
              <label for="ressourcePieceDocument">Télécharger votre ressource en PDF</label>
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-file-pdf-o"></i></div>
                <input type="file" class="form-control-file" id="ressourcePieceDocument">
              </div>
            </div>
            <div class="form-group">
              <label for="ressourceImageDocument">Télécharger votre IMAGE</label>
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-picture-o"></i></div>
                <input type="file" class="form-control-file" id="ressourceImageDocument">
              </div>
            </div>
          </form>
          <div *ngIf="addAlertisVisibleError" class="col-11 alert alert-danger"
            style="text-align: center;margin-left: auto;margin-right: auto" role="alert">
            Désolé, une erreur s'est produite !
          </div>
          <div *ngIf="addAlertisVisibleSuccess" class="col-11 alert alert-success"
            style="text-align: center;margin-left: auto;margin-right: auto" role="alert">
            Votre ressource a été ajoutée avec succés, merci
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btnSerch" (click)="addRessource()"><i class="fa fa-plus-circle"></i><b>
              Ajouter</b></button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
    <div class="container_fluid">
        <br>
    
        <div class="container">
          <div class="row">
            <div class="col-2" style="margin-top: 8%">
              <div class="form-group ">
                <label>AFFICHER :</label>
                <select id="inputState3" [(ngModel)]="Nbresult" (ngModelChange)="Select('Nbresult')"
                  class="form-controlSelection form-control">
                  <option value="1">
                    <p class="Pselection">1 Ressource</p>
                  </option>
                  <option value="2">
                    <p class="Pselection">2 Ressources</p>
                  </option>
                  <option value="3" selected>
                    <p class="Pselection">3 Ressources</p>
                  </option>
                  <option value="4">
                    <p class="Pselection">4 Ressources</p>
                  </option>
                  <option value="5">
                    <p class="Pselection">5 Ressources</p>
                  </option>
                  <option value="10">
                    <p class="Pselection">10 Ressources</p>
                  </option>
                </select>
              </div>
              <hr>
              <!-- Card Start -->
              <div class="form-group ">
                <label>TYPE :</label>
                <select id="inputState" [(ngModel)]="Type" (ngModelChange)="Select('Type')"
                  class="form-controlSelection form-control">
                  <option value="tous">tous</option>
                  <option value="forestieres">forestieres</option>
                  <option value="alimentation et agriculture"><p class="Pselection">alimentation et agriculture</p></option>
                  <option value="marines"><p class="Pselection">marines</p></option>
                  <option value="microorganismes"><p class="Pselection">microorganismes</p></option>
                  
                </select>
              </div>

              <button type="button" (click)="Filter()" class="btn btnSerch" style="width: 100%"><i
                  class="fa fa-filter"></i><B> FILTRER</B></button>
    
            </div>
            <div class="col-10 ">
              <form class="form-inline" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                <input class="form-control form-control-modified" name="inputRech" required ngModel type="Text"
                  placeholder="Recherche par Tag" aria-label="Search">
                <button type="submit" class="btn btnSerch" style="margin-left: 1%" data-toggle="tooltip"
                  data-placement="bottom" title="Rechercher une ressource"><i class="fa fa-search"></i><b>
                    RECHERCHE</b></button>
              </form>
              <div class="container">
                <div class="row col-12 align-items-center justify-content-center">
                  
                  <div class="form-group nbresult" style="margin-top: 14px;font-size: 18px;float: right;">
                    <span class="font-weight-bold"> NOMBRE DE DOCUMENTS : </span>
                    <span class="font-weight-bold" id="nbRegle">{{nbDocument}}</span>
                  </div>
                </div>
                <hr>
              </div>
              <div *ngIf="isVisible" class="col-11 alert alert-danger"
                style="text-align: center;margin-left: auto;margin-right: auto" role="alert">
                Désolé, aucun résultat trouvé !
              </div>
              <div class="col-12" *ngFor="let rsr of ressources | paginate: { itemsPerPage: Nbresult , currentPage: p }">
                <app-ressource-details [ressource]=rsr></app-ressource-details>
                <hr>
              </div>
              <div style="text-align:center">.
                <pagination-controls (pageChange)="p = $event" directionLinks="true" maxSize="2" responsive="true"
                  previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
    
      </div>
</ng-template>