
<div class="logo-bolck">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 ">
          <img src="../assets/GREENTECH.png" class="rounded-circle  "/>
        </div>
        <div class="col-lg-2 ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light bg-lightLink ">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mt-lg-00">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="#"><img src={{path1}} class="  border-success"/></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="#"><img src={{path2}} class=" border-success"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/CreationCompte"><span> Connecté(e) </span>  </a>
                 </li>  
                 <li class="nav-item"> 
                    <a class="nav-link" routerLink="/CreationCompte"> <img src="../assets/login.png"   class=" border-success"/></a>
                  </li> 
              </ul>
              </nav>
        </div>
      </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mt-lg-navbar">
      <li class="nav-item active">
        <a class="nav-link nav-link1" routerLink="/">ACCEUIL </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link1" routerLink="/ged">GED </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link1" routerLink="/apa">APA </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link1" routerLink="/RG">ANNUIARE </a>
      </li>
      <li class="nav-item dropdown " >
            <a class="nav-link nav-link1 dropdown-toggle" routerLink="/Ressource" id="navbarDropdownMenuLink" role="button" data-hover="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             RESSOURCE
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
      </li>
      
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
<app-footer></app-footer>
