

<div class="logo-bolck">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 ">
          <img src="../assets/GREENTECH.png" class="rounded-circle  "/>
        </div>
        <div class="col-lg-2 ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light bg-lightLink ">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mt-lg-00">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="#"><img src={{path1}} class="  border-success"/></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="#"><img src={{path2}} class=" border-success"/></a>
                </li>
                <ng-container *ngIf="role=='utilisateur' || role=='admin' || role=='editeur'; else elseTemplate">
                   <li class="nav-item">
                        <a class="nav-link" routerLink="/" (click)="logout()" ><span> Déonnecté(e) </span>  </a>
                   </li>  
                </ng-container>
                <ng-template #elseTemplate>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/CreationCompte"><span> Connecté(e) </span>  </a>
                     </li>  
                </ng-template>
                

                 <li class="nav-item"> 
                    <a class="nav-link" routerLink="/CreationCompte"> <img src="../assets/login.png"   class=" border-success"/></a>
                  </li> 
              </ul>
              </nav>
        </div>
      </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
     
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mt-lg-navbar">
        
      <li class="nav-item active">
        <a class="nav-link nav-link1" routerLink="/">ACCEUIL </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link1" routerLink="/ged">GED </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link1" routerLink="/apa">APA </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link1" routerLink="/RG">ANNUIARE </a>
      </li>
      <li class="nav-item" >
            <a class="nav-link nav-link1" routerLink="/Ressource">RESSOURCES</a>
      </li>
      <div *ngIf="role=='admin'">
        <li class="nav-item">
            <a class="nav-link nav-link1" routerLink="/dashborardAdmin">GESTION DES COMPTE </a>
         </li>
     </div>
      <div *ngIf="role=='utilisateur'">
          <li class="nav-item">
              <a class="nav-link nav-link1" routerLink="/Permis">DEMANDE</a>
           </li>
      </div>
      <div *ngIf="role=='editeur'">
          <li class="nav-item">
              <a class="nav-link nav-link1" routerLink="/RepoGed">GED PROCESSUS</a>
           </li>
      </div>
      
      
    </ul>
  </div>
</nav>


<!--<app-admin-dash></app-admin-dash>-->
<router-outlet></router-outlet>
<app-footer></app-footer>
