<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Aceuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ged">Ged</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/apa">Apa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/RG">Annuaire RG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Ressource">Ressource</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
