
<!------ Include the above in your HEAD tag ---------->

<div class="container py-3 container-class">
     <!-- Card Start -->
    <div class="container_fluid PourquoiGreenTech">
        <div class="row">
            <div class="col-md-6">
                <h5 class="h55"> Présentation de GREENTECH</h5>
                <p class="card-text pp">GreenTech est une entreprise spécialisée qui mène les efforts nationaux vers la protection  des ressources génétiques. Notre objectif est d’assurer un accès régulier et suffisant, de bonne qualité permettant à tous les demandeurs une utilisation équitable de ses ressources
                </p>
            </div>
            <div class="col-md-6 about-img">
                <img src="../assets/team.jpg" alt="">
            </div>
        </div>
        <div class="container">
            <h5 class="h55"> Notre équipe </h5>
            <div id="sync1" class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 item">
            <div class="team-member">
                <div class="team-img">
                    <img src="../assets/adem.jpg" alt="team member" class="img-responsive">
                </div>
            </div>
            <div class="team-title">
                <h5>Adem BOUGUEDRA</h5>
                <h6> Chef projet & Développeur</h6>
                <p>fa_bouguedra@esi.dz</p>
            </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 item">
            <div class="team-member">
                <div class="team-img">
                    <img src="../assets/chouaib.JPG" alt="team member" class="img-responsive">
                </div>
            </div>
            <div class="team-title">
                <h5>Chouaib BELILITA</h5>
                <h6> Architecte </h6>
                <p>ec_belilita@esi.dz</p>
            </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-6">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://image.freepik.com/free-photo/confident-businesswoman-holding-pen_1098-2049.jpg" alt="team member" class="img-responsive">
                </div>
            </div>
            <div class="team-title">
                <h5>Ahmed LABED</h5>
                <h6> Analyste </h6>
                <p>ea_labed@esi.dz</p>
            </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-6">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://image.freepik.com/free-photo/confident-businesswoman-holding-pen_1098-2049.jpg" alt="team member" class="img-responsive">
                </div>
            </div>
            <div class="team-title">
                <h5>Mustapha DEBBIH</h5>
                <h6> Développeur backend </h6>
                <p>fm_debbih@esi.dz</p>
            </div>
            </div>
            </div>

            <div id="sync1" class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 item">
                <div class="team-member">
                    <div class="team-img">
                        <img src="https://image.freepik.com/free-photo/confident-businesswoman-holding-pen_1098-2049.jpg" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Ahlem EMBAREK</h5>
                    <h6> Développeur frontend</h6>
                    <p>ea_embarek@esi.dz</p>
                </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 item">
                <div class="team-member">
                    <div class="team-img">
                        <img src="https://image.freepik.com/free-photo/confident-businesswoman-holding-pen_1098-2049.jpg" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Hamza ROUDALI</h5>
                    <h6> Développeur & designer </h6>
                    <p>eh_roudali@esi.dz</p>
                </div>
                </div>
                <div class="item col-lg-3 col-md-3 col-sm-6">
                <div class="team-member">
                    <div class="team-img">
                        <img src="https://image.freepik.com/free-photo/confident-businesswoman-holding-pen_1098-2049.jpg" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Meriem BELKIHEL</h5>
                    <h6> Développeur frontend</h6>
                    <p>em_belkihel@esi.dz</p>
                </div>
                </div>
                <div class="item col-lg-3 col-md-3 col-sm-6">
                <div class="team-member">
                    <div class="team-img">
                        <img src="../assets/0.jpg" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Sarah ZIANI</h5>
                    <h6> Développeur backend</h6>
                    <p>fs_ziani@esi.dz</p>
                </div>
                </div>
            </div>
        </div>
     </div>
    <!-- End of card -->
  
  </div>
  