<div class="container_fluid">
    
    <br>
    <form class="form-inline ">
        <input class="form-control mr-sm-2" name="inputRech" [(ngModel)]="inputRech" type="Recherche par Tag" placeholder="Recherche par Tag" aria-label="Search">
        <a class="btn btn-success my-2 my-sm-0 btnSerch" (click)="SearchDocTag()">Recherche </a>
      </form>
      <br>
    <div class="container-fluid bg-light ">
      <div class="row align-items-center justify-content-center">
                          <div class="col-md-3 pt-3">
                               <div class="form-group ">
                                  <select id="inputState " [(ngModel)]="Type" (ngModelChange)="Select('type')" class="form-control">
                                    <option value="all">Type</option>
                                    <option value="Loi">Loi</option>
                                    <option value="type2">type2</option>
                                    <option value="type3">type3</option>
                                    <option value="type4">type4</option>
                                    <option>Tesla</option>
                                  </select>
                               </div>
                            </div>
                        <div class="col-md-3 pt-3">
                               <div class="form-group">
                                  <select id="inputState" [(ngModel)]="Categorie" (ngModelChange)="Select('categorie')" class="form-control">
                                    <option value="all">Catégorie</option>
                                    <option value="categorie1">categorie1</option>
                                    <option value="categorie2">categorie2</option>
                                    <option value="categorie3">categorie3</option>
                                    <option value="categorie4">categorie4</option>
                                  </select>
                               </div>
                            </div>
                            
                            <div class="col-md-3 pt-3">
                                <div class="form-group">
                                  <select id="inputState" [(ngModel)]="Nbresult" (ngModelChange)="Select('Nbresult')" class="form-control">
                                    <option value="all">Afficher </option>
                                    <option value="2">2 Documents</option>
                                    <option value="4">4 Documents</option>
                                    <option value="8">8 Documents</option>
                                    <option value="10">10 Documents</option>
                                  </select>
                                </div>
                            </div>  
                            <div class="col-md-2">
                              <button type="button"  (click)="Filter()" class="mt-auto .btnSerch btn btn-outline-success ">Filtre</button>
                            </div>
                  
                      </div>
    </div>
    
    
    
    
  <div *ngIf="ged">
      <div class="container">
        <div class="row">
          
            <div class="col-12 col-sm-4  col-md-6 col-lg-6 col"*ngFor="let document of dc"  >
               
               <app-card-doc  [doc]=document ></app-card-doc>
             </div>
          </div>
      </div>
  </div>
 

</div>
