.title {
 
    margin-bottom: 50px;
    text-transform: uppercase;
}

.btnSerch{
    color:white;
    background-color:#a4d470; 
    border-radius: 8px
}

.btnSerch:hover {
    background-color: #649630;
  }


.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
.btn {
    border-radius:20px;
    float: right;
  }
  .w-100 {
    width: 100%!important;
    height: 100%;
}
.card-text{
    font-size: 12px;
}
 
.card {
  
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: 25px;
    margin-bottom:20px;
}