<div *ngIf="ressource">
  <div class="container ">
    <!-- Card Start -->
    <div class="card shadow">
      <div class="row ">

        <div class="col-lg-7 ">
          <div class="card-block ">
            <h4 class="card-title" style="text-transform: uppercase">{{ressource.nameRESSOURCE}}</h4>
            <p>{{ressource.descriptionRESSOURCE.slice(0, 160)}} ...</p>
            <br><br><hr>
            <button type="button" class="btn btnSerch" routerLink="viewMoreInformation" routerLinkActive="active"
              data-toggle="tooltip" data-placement="bottom" title="Voir plus d'informations sur ce document"
              data-toggle="modal" [attr.data-target]="'#DetailRessourceDocument'+ ressource.id"><b>VOIR PLUS </b> <i
                class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-danger" style="margin-right: 5px" data-toggle="tooltip"
              data-placement="bottom" title="Supprimer cette ressource" data-toggle="modal"
              [attr.data-target]="'#deleteModal'+ ressource.id"><i class="fa fa-times"></i></button>
            <button type="button" class="btn btnSerch" style="margin-right: 5px" data-toggle="tooltip"
              data-placement="bottom" title="Modifier cette ressource" data-toggle="modal"
              [attr.data-target]="'#modificationModal'+ ressource.id"><i class="fa fa-pencil"></i></button>
          </div>
        </div>
        <!-- Carousel start -->
        <div class="col-md-5">
          <div id="CarouselTest" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
              <li data-target="#CarouselTest" data-slide-to="1"></li>
              <li data-target="#CarouselTest" data-slide-to="2"></li>

            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block" src="https://picsum.photos/450/300?image=1072" alt="">
              </div>
              <div class="carousel-item">
                <img class="d-block" src="https://picsum.photos/450/300?image=855" alt="">
              </div>
              <div class="carousel-item">
                <img class="d-block" src="https://picsum.photos/450/300?image=355" alt="">
              </div>
              <a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précedent</span>
              </a>
              <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="container">
    <!-- Modal  1-->
    <div class="modal fade" attr.id="DetailRessourceDocument{{ressource.id}}" tabindex="-1" role="dialog"
      attr.aria-labelledby="exampleModalCenterTitle{{ressource.id}}" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content ">
          <div class="modal-header">
            <h3 class="modal-title" attr.id="exampleModalCenterTitle{{ressource.id}}" style="text-transform: uppercase">
              {{ressource.nameRESSOURCE}}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p style="text-align: justify">{{ressource.descriptionRESSOURCE}}</p>
            <ngx-extended-pdf-viewer src="../../../../assets/loi.pdf" useBrowserLocale=" true " height=" 90vh "
              [showPrintButton]="false" [showBookmarkButton]="false" [showOpenFileButton]="false"
              [showDownloadButton]="true" [showSidebarButton]="true" delayFirstView="2000">
            </ngx-extended-pdf-viewer>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal  2-->
    <div class="modal fade" attr.id="modificationModal{{ressource.id}}" tabindex="-1" role="dialog"
      attr.aria-labelledby="modificationModalLabel{{ressource.id}}" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" attr.id="modificationModalLabel{{ressource.id}}">Modification de la ressource :
              {{ressource.nameRESSOURCE}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST">
              <div class="form-group">
                <label for="apaNomDocument">Nom</label>
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-dot-circle-o"></i></div>
                  <input type="text" attr.name="nameRESSOURCE{{ressource.id}}" required class="form-control"
                    attr.value="{{ressource.nameRESSOURCE}}" [(ngModel)]="ressource.nameRESSOURCE"
                    [ngModelOptions]="{standalone:true}">
                </div>
              </div>
              <div class="form-group">
                <label for="apaDescriptionDocument">Description</label>
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-file-text-o"></i></div>
                  <textarea type="text" attr.name="descriptionRESSOURCE{{ressource.id}}" required class="form-control"
                    value="{{ressource.descriptionRESSOURCE}}" [(ngModel)]="ressource.descriptionRESSOURCE"
                    [ngModelOptions]="{standalone:true}"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="apaDescriptionDocument">Type</label>
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-dot-circle-o"></i></div>
                  <input type="text" attr.name="typeRESSOURCE{{ressource.id}}" required class="form-control"
                    attr.value="{{ressource.typeRESSOURCE}}" [(ngModel)]="ressource.typeRESSOURCE"
                    [ngModelOptions]="{standalone:true}">
                </div>
              </div>
              <div class="form-group">
                <label for="apaDescriptionDocument">Catégorie</label>
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-dot-circle-o"></i></div>
                  <input type="text" attr.name="categorieRESSOURCE{{ressource.id}}" required class="form-control"
                    attr.value="{{ressource.categorieRESSOURCE}}" [(ngModel)]="ressource.categorieRESSOURCE"
                    [ngModelOptions]="{standalone:true}">
                </div>
              </div>
              <div class="form-group">
                <label for="apaDescriptionDocument">Tag</label>
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-tag"></i></div>
                  <input type="text" attr.name="tagRESSOURCE{{ressource.id}}" required class="form-control"
                    attr.value="{{ressource.tagRESSOURCE}}" [(ngModel)]="ressource.tagRESSOURCE" [ngModelOptions]="{standalone:true}">
                </div>
              </div>
            </form>
            <div *ngIf="updateAlertisVisibleError" class="col-12 alert alert-danger"
              style="text-align: center;margin-left: auto;margin-right: auto" role="alert">
              Désolé, une erreur s'est produite !
            </div>
            <div *ngIf="updateAlertisVisibleSuccess" class="col-12 alert alert-success"
              style="text-align: center;margin-left: auto;margin-right: auto" role="alert">
              Votre ressource a été <b>modifié avec succés</b>, merci
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button type="submit" (click)="updateActive()" class="btn btnSerch">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Modal  3-->
    <div class="modal fade" attr.id="deleteModal{{ressource.id}}" tabindex="-1" role="dialog"
      attr.aria-labelledby="deleteModalLabel{{ressource.id}}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" attr.id="deleteModalLabel{{ressource.id}}">Suppression de la ressource :
              {{ressource.nameRESSOURCE}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6>Etes vous sur de vouloir supprimer cette ressource ?</h6>
            <div *ngIf="deleteAlertisVisibleSuccess" class="col-11 alert alert-success"
              style="text-align: center;margin-left: auto;margin-right: auto" role="alert">
              Votre ressource a été supprimée avec succés, merci
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button type="submit" (click)="deleteRessource()" class="btn btn-danger"><i class="fa fa-times"></i>
                Supprimer</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>